In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
pd.set_option('display.max_columns', None)

In [3]:
df_treatments = pd.read_parquet('../Datasets_light/treatments_2017-2020.parquet')

df_treatments = df_treatments[df_treatments['SUB1'] != 1].reset_index(drop=True)
df_treatments = df_treatments[df_treatments['NOPRIOR'] != -9].reset_index(drop=True)

In [ ]:

import pyarrow.parquet as pq

parquet_file = pq.ParquetFile('../Datasets_light/treatments_2017-2020.parquet')


for batch in parquet_file.iter_batches():
    print("RecordBatch")
    df_treatments = batch.to_pandas()
    print("batch_df:", df_treatments)

In [ ]:
df_treatments.shape

In [ ]:
df_treatments.columns

In [ ]:
df_treatments['AGE']

In [ ]:
import numpy as np
import pandas as pd


def mapping_AGE(x):
    if x in [1,2]:
        return '12-17 years old'
    elif x in [3,4,5]:
        return '18-29 years old'
    elif x in [6,7]:
        return '30-39 years old'
    elif x in [8,9]:
        return '40-49 years old'
    elif x in [10,11]:
        return '50-64 years old'
    elif x in [12]:
        return '65+ years old'
    


def mapping_GENDER(x):
    if x == 1:
        return 'Male'
    elif x == 2:
        return 'Female'


def mapping_RACE(x):
    if x == 1:
        return 'Alaska Native'
    elif x == 2:
        return 'American Indian'
    elif x == 3 or x == 9:
        return 'Hawaii, Pacific Islander'
    elif x == 4:
        return 'Black'
    elif x == 5:
        return 'White'
    elif x == 6:
        return 'Asian'
    elif x == 7:
        return 'Other race'
    elif x == 8:
        return 'Two or more races'
    

def mapping_ETHNIC(x):
    if x in [1,2,3,5]:
        return "Hispanic"
    elif x in [4]:
        return "Not Hispanic"
    



def mapping_MARSTAT(x):
    if x == 1:
        return "Never married"
    elif x == 2:
        return "Now married"
    elif x == 3:
        return "Separated"
    elif x == 4:
        return 'Divorced/widowed'
    

def mapping_EDUC(x):
    if x == 1:
        return "No schooling"
    elif x == 2:
        return "Grades 9-11"
    elif x == 3:
        return "Grade 12"
    elif x == 4:
        return '1-3 years of college'
    elif x ==5:
        return '4 years of college, BA/BS, or more'
    

def mapping_EMPLOY(x):
    if x == 1:
        return 'Full-time'
    elif x == 2:
        return "Part-time"
    elif x == 3:
        return "Unemployed"
    elif x == 4:
        return 'Not in labor force'
    


def mapping_PREG(x):
    if x == 1:
        return 'Pregnant'
    elif x == 2:
        return "Not pregnant"
    

def mapping_VET(x):
    if x == 1:
        return 'Veteran'
    elif x == 2:
        return "Not veteran"
    



def mapping_LIVARAG(x):
    if x == 1:
        return 'Homeless'
    elif x == 2:
        return "Dependent living"
    elif x == 3:
        return "Independent living"
    

def mapping_PRIMINC(x):
    if x == 1:
        return 'Wages/salary'
    elif x == 2:
        return "Public assistance"
    elif x == 3:
        return "Retirement/pension, disability"
    elif x == 4:
        return 'Other'
    elif x == 5:
        return 'None'
    



def mapping_ARRESTS(x):
    if x == 0:
        return 'None'
    elif x == 1:
        return "Once"
    elif x == 2:
        return "Two or more times"
  


def mapping_DIVISION(x):
    if x== 0:
        return 'U.S. territories'
    elif x == 1:
        return 'New England'
    elif x == 2:
        return 'Middle Atlantic'
    elif x == 3:
        return 'East North Central'
    elif x == 4:
        return 'West North Central'
    elif x == 5:
        return 'South Atlantic'
    elif x == 6:
        return 'East South Central'
    elif x == 7:
        return 'West South Central'
    elif x == 8:
        return 'Mountain'
    elif x == 9:
        return 'Pacific'
    


def mapping_SERVICES(x):
    if x== [1,2]:
        return 'Detox'
    elif x == [3,4,5]:
        return 'Rehab/residential'
    elif x == [6,7,8]:
        return 'Ambulatory'
    

def mapping_DAYWAIT(x):
    if x== [0,1,2]:
        return '0-14 days'
    elif x == [3]:
        return '15-30 days'
    elif x == [4]:
        return '31+ days'
    


def mapping_PSOURCE(x):
    if x == 1:
        return 'Individual'
    elif x == 2:
        return 'Alcohol/drug provider'
    elif x == 3:
        return 'Other Health Care provider'
    elif x == 4:
        return 'School'
    elif x == 5:
        return 'Employer'
    elif x == 6:
        return 'Community'
    elif x == 7:
        return 'Court'
    


def mapping_SUB(x):
    if x == 2:
        return 'Alcohol'
    elif x == 3:
        return 'Cocaine/Crack'
    elif x == 4:
        return 'Marijuana/Hashish'
    elif x == 5:
        return 'Heroin'
    elif x == 6 or x == 7:
        return 'Opiates or Methadone'
    elif x == 10:
        return 'Methamphetamine'
    elif x == 11 or x == 12:
        return 'Other Amphetamines or Stimulants'
    elif x == 13 or x == 14:
        return 'Benzodiazepines or Tranquilizers'
    elif x == 8 or x == 9:
        return 'PCP or Other Hallucinogens'
    elif x >= 15 & x <= 20:
        return 'Other'
    

def mapping_FREQ(x):
    if x == 1:
        return 'No use in the past month'
    elif x == 2:
        return 'Some use'
    elif x == 3:
        return 'Daily use'



def mapping_FRSTUSE(x):
    if x == 1:
        return '11 years and under'
    elif x == 2 or x == 3:
        return '12-17 years'
    elif x == 4 or x == 5:
        return '18-24 years'
    elif x == 6:
        return '25-29 years'
    elif x == 7:
        return '30 years and older'
    


def mapping_PSYPROB(x):
    if x == 1:
        return 'Yes'
    elif x == 2:
        return 'No'
    


def mapping_HLTHINS(x):
    if x in [1,2,3]:
        return 'Yes'
    elif x == 4:
        return 'No'
    


def mapping_FREQ_ATND_SELF_HELP(x):
    if x == 1:
        return 'No'
    elif x in [2,3,4,5] :
        return 'Yes'
    


def mapping_NOPRIOR(x):
    if x == 0:
        return 0
    elif x == 1:
        return 1

In [42]:
path = os.path.join('../' + 'data', 'treatments_2017-2020')

df = pd.read_parquet( path + '.parquet')
print(df.shape)


df_orig = df.copy()

(4049136, 82)

In [43]:
# dropping rows where SUB1 is unkown
df = df[df['SUB1'] != 1].reset_index(drop=True)
df = df[df['NOPRIOR'] != -9].reset_index(drop=True)

In [4]:
df.columns

Index(['REASON', 'FRSTUSE2', 'EMPLOY_D', 'MARSTAT', 'PRIMINC', 'TRNQFLG',
       'NOPRIOR', 'PREG', 'METHUSE', 'FRSTUSE3', 'DETNLF_D', 'FREQ2', 'SUB2',
       'INHFLG', 'SUB1_D', 'ALCDRUG', 'SERVICES', 'AGE', 'ETHNIC',
       'SERVICES_D', 'DETNLF', 'PRIMPAY', 'HERFLG', 'IDU', 'REGION', 'LOS',
       'FREQ_ATND_SELF_HELP_D', 'SEDHPFLG', 'SUB3', 'BENZFLG', 'OPSYNFLG',
       'FREQ3_D', 'ALCFLG', 'SUB2_D', 'OTCFLG', 'HLTHINS', 'DIVISION',
       'GENDER', 'STFIPS', 'ROUTE3', 'FRSTUSE1', 'AMPHFLG', 'PCPFLG',
       'PSOURCE', 'COKEFLG', 'MTHAMFLG', 'SUB3_D', 'DAYWAIT', 'CBSA',
       'PSYPROB', 'RACE', 'ROUTE1', 'DETCRIM', 'VET', 'ARRESTS_D', 'MARFLG',
       'FREQ1_D', 'STIMFLG', 'LIVARAG_D', 'FREQ1', 'SUB1', 'DISYR', 'BARBFLG',
       'EMPLOY', 'LIVARAG', 'FREQ2_D', 'HALLFLG', 'ROUTE2', 'ARRESTS',
       'FREQ_ATND_SELF_HELP', 'EDUC', 'DSMCRIT', 'METHFLG', 'FREQ3', 'CASEID',
       'OTHERFLG', 'cbsatitle', 'metropolitanmicropolitanstatis',
       'countycountyequivalent', 'statename', 'fipscountycode',
       'centraloutlyingcounty'],
      dtype='object')

In [ ]:
df['AGE'] = df['AGE'].apply(mapping_AGE)
df['AGE'] = pd.Categorical(df['AGE'], categories= sorted(df['AGE'].unique())    , ordered=True)
labels,categories = pd.factorize( df['AGE'], sort = True)
df['AGE'] = labels

In [ ]:
pd.factorize( df['AGE'], sort = True)[1]

In [ ]:
df['AGE'] = pd.Categorical(df['AGE'], categories= sorted(df['AGE'].unique())    , ordered=True)

In [ ]:
df['AGE'] = pd.factorize( df['AGE'], sort = True)

In [ ]:
labels,unique = pd.factorize( df['AGE'], sort = True)

In [ ]:
labels

In [ ]:
df['AGE'].value_counts().sort_values()

In [ ]:
pd.Series(labels).value_counts().sort_values()

In [ ]:
unique

In [ ]:
from src.utils import MappingData

In [ ]:
p = MappingData().mapping_FREQ

In [ ]:
MappingData(df_treatments['GENDER']).mapping_FREQ

In [27]:
class MappingData():


#    def __init__(self,x):
#        self.x = x

    def mapping_AGE(self,x):
        if x in [1,2]:
            return '12-17 years old'
        elif x in [3,4,5]:
            return '18-29 years old'
        elif x in [6,7]:
            return '30-39 years old'
        elif x in [8,9]:
            return '40-49 years old'
        elif x in [10,11]:
            return '50-64 years old'
        elif x in [12]:
            return '65+ years old'

In [28]:
p=MappingData()

In [25]:
class A:
    def a(self, a):
        print(a)

In [26]:
ob = A()
ob.a("Hello World")

Hello World

In [30]:
df['AGE'].apply(lambda x : p.mapping_AGE(x))

0          30-39 years old
1          30-39 years old
2          18-29 years old
3          30-39 years old
4          40-49 years old
                ...
4049131    50-64 years old
4049132    18-29 years old
4049133    40-49 years old
4049134    30-39 years old
4049135    50-64 years old
Name: AGE, Length: 4049136, dtype: object

In [31]:
df['AGE'].apply(p.mapping_AGE())

TypeError: mapping_AGE() missing 1 required positional argument: 'x'

In [32]:
from src.utils import MappingData

In [33]:
p=MappingData()

In [34]:
print(dir(p))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'mapping_AGE', 'mapping_ARRESTS', 'mapping_DAYWAIT', 'mapping_DIVISION', 'mapping_EDUC', 'mapping_EMPLOY', 'mapping_ETHNIC', 'mapping_FREQ', 'mapping_FREQ_ATND_SELF_HELP', 'mapping_FRSTUSE', 'mapping_GENDER', 'mapping_HLTHINS', 'mapping_LIVARAG', 'mapping_MARSTAT', 'mapping_NOPRIOR', 'mapping_PREG', 'mapping_PRIMINC', 'mapping_PSOURCE', 'mapping_PSYPROB', 'mapping_RACE', 'mapping_SERVICES', 'mapping_SUB', 'mapping_VET']

In [39]:
l = dir(p)[26:]

In [40]:
l

['mapping_AGE',
 'mapping_ARRESTS',
 'mapping_DAYWAIT',
 'mapping_DIVISION',
 'mapping_EDUC',
 'mapping_EMPLOY',
 'mapping_ETHNIC',
 'mapping_FREQ',
 'mapping_FREQ_ATND_SELF_HELP',
 'mapping_FRSTUSE',
 'mapping_GENDER',
 'mapping_HLTHINS',
 'mapping_LIVARAG',
 'mapping_MARSTAT',
 'mapping_NOPRIOR',
 'mapping_PREG',
 'mapping_PRIMINC',
 'mapping_PSOURCE',
 'mapping_PSYPROB',
 'mapping_RACE',
 'mapping_SERVICES',
 'mapping_SUB',
 'mapping_VET']

In [41]:
len(l)

23

In [109]:
df_p = pd.read_parquet('../data/treatments_2017-2020_preprocessed.parquet')

In [91]:
df_p.head()

,REASON,FRSTUSE2,EMPLOY_D,MARSTAT,PRIMINC,TRNQFLG,NOPRIOR,PREG,METHUSE,FRSTUSE3,DETNLF_D,FREQ2,SUB2,INHFLG,SUB1_D,ALCDRUG,SERVICES,AGE,ETHNIC,SERVICES_D,DETNLF,PRIMPAY,HERFLG,IDU,REGION,LOS,FREQ_ATND_SELF_HELP_D,SEDHPFLG,SUB3,BENZFLG,OPSYNFLG,FREQ3_D,ALCFLG,SUB2_D,OTCFLG,HLTHINS,DIVISION,GENDER,STFIPS,ROUTE3,FRSTUSE1,AMPHFLG,PCPFLG,PSOURCE,COKEFLG,MTHAMFLG,SUB3_D,DAYWAIT,CBSA,PSYPROB,RACE,ROUTE1,DETCRIM,VET,ARRESTS_D,MARFLG,FREQ1_D,STIMFLG,LIVARAG_D,FREQ1,SUB1,DISYR,BARBFLG,EMPLOY,LIVARAG,FREQ2_D,HALLFLG,ROUTE2,ARRESTS,FREQ_ATND_SELF_HELP,EDUC,DSMCRIT,METHFLG,FREQ3,CASEID,OTHERFLG,cbsatitle,metropolitanmicropolitanstatis,countycountyequivalent,statename,fipscountycode,centraloutlyingcounty
0,6,-9,1,None,None,0,0,Not pregnant,1,-9,-9,-9,1,0,7,2,None,30-39 years old,Not Hispanic,7,-9,-9,0,-9,4,37,-9,0,-9,0,1,-9,0,1,0,None,Pacific,Female,6,-9,25-29 years,0,0,Individual,0,0,1,0-14 days,42020,No,White,1,-9,Not veteran,0,0,1,0,2,Daily use,Opiates or Methadone,2017,0,Part-time,Independent living,-9,0,-9,None,None,Grade 12,-9,0,-9,20171463590,0,"San Luis Obispo-Paso Robles-Arroyo Grande, CA",Metropolitan Statistical Area,San Luis Obispo County,California,79,Central
1,4,6,4,None,None,0,1,Pregnant,1,-9,-9,3,10,0,5,2,None,30-39 years old,Not Hispanic,7,-9,-9,1,1,4,15,-9,0,-9,0,0,-9,0,10,0,None,Pacific,Female,6,-9,30 years and older,0,0,Other Health Care provider,0,1,1,0-14 days,17020,No,White,4,-9,Not veteran,0,0,1,0,2,Daily use,Heroin,2017,0,Not in labor force,Independent living,-9,0,4,None,None,Grade 12,-9,0,-9,20171390962,0,"Chico, CA",Metropolitan Statistical Area,Butte County,California,7,Central
2,3,5,3,Never married,Public assistance,0,1,Pregnant,1,-9,-9,2,10,0,5,2,None,18-29 years old,Not Hispanic,7,-9,4,1,1,4,36,1,0,1,0,0,-9,0,10,0,Yes,Pacific,Female,2,-9,18-24 years,0,0,Individual,0,1,1,0-14 days,11260,Yes,White,4,-9,Not veteran,0,0,1,0,3,Daily use,Heroin,2017,0,Unemployed,Independent living,-9,0,4,None,No,None,-9,0,-9,20171519498,0,"Anchorage, AK",Metropolitan Statistical Area,"Matanuska-Susitna Borough, Anchorage Municipality",Alaska,"170, 20","Central, Outlying"
3,2,3,4,None,None,0,1,Not pregnant,1,-9,-9,3,10,0,5,2,None,30-39 years old,Not Hispanic,7,-9,-9,1,1,4,34,-9,0,-9,0,0,-9,0,10,0,None,Pacific,Female,6,-9,25-29 years,0,0,Individual,0,1,19,0-14 days,41860,No,White,4,-9,Not veteran,0,0,3,0,1,Daily use,Heroin,2017,0,Not in labor force,Homeless,-9,0,4,None,None,Grade 12,-9,0,-9,20171346634,0,"San Francisco-Oakland-Hayward, CA",Metropolitan Statistical Area,"Contra Costa County, San Francisco County, San...",California,"1, 13, 75, 81, 41","Central, Outlying"
4,3,7,4,Divorced/widowed,Other,0,1,Not pregnant,1,4,3,3,10,0,5,2,None,40-49 years old,Not Hispanic,7,3,-9,1,1,1,35,1,0,19,0,0,3,0,10,0,None,Middle Atlantic,Female,36,2,30 years and older,0,0,Other Health Care provider,0,1,19,None,35620,Yes,Alaska Native,4,-9,Not veteran,0,0,1,0,3,Daily use,Heroin,2017,0,Not in labor force,Homeless,-9,0,2,None,No,Grade 12,5,0,3,20171324167,1,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,"New York County, Orange County, Hunterdon Coun...","New Jersey, New York, Pennsylvania","79, 87, 13, 81, 119, 25, 29, 59, 3, 85, 5, 61,...","Central, Outlying"

In [47]:
df_p.columns

Index(['REASON', 'FRSTUSE2', 'EMPLOY_D', 'MARSTAT', 'PRIMINC', 'TRNQFLG',
       'NOPRIOR', 'PREG', 'METHUSE', 'FRSTUSE3', 'DETNLF_D', 'FREQ2', 'SUB2',
       'INHFLG', 'SUB1_D', 'ALCDRUG', 'SERVICES', 'AGE', 'ETHNIC',
       'SERVICES_D', 'DETNLF', 'PRIMPAY', 'HERFLG', 'IDU', 'REGION', 'LOS',
       'FREQ_ATND_SELF_HELP_D', 'SEDHPFLG', 'SUB3', 'BENZFLG', 'OPSYNFLG',
       'FREQ3_D', 'ALCFLG', 'SUB2_D', 'OTCFLG', 'HLTHINS', 'DIVISION',
       'GENDER', 'STFIPS', 'ROUTE3', 'FRSTUSE1', 'AMPHFLG', 'PCPFLG',
       'PSOURCE', 'COKEFLG', 'MTHAMFLG', 'SUB3_D', 'DAYWAIT', 'CBSA',
       'PSYPROB', 'RACE', 'ROUTE1', 'DETCRIM', 'VET', 'ARRESTS_D', 'MARFLG',
       'FREQ1_D', 'STIMFLG', 'LIVARAG_D', 'FREQ1', 'SUB1', 'DISYR', 'BARBFLG',
       'EMPLOY', 'LIVARAG', 'FREQ2_D', 'HALLFLG', 'ROUTE2', 'ARRESTS',
       'FREQ_ATND_SELF_HELP', 'EDUC', 'DSMCRIT', 'METHFLG', 'FREQ3', 'CASEID',
       'OTHERFLG', 'cbsatitle', 'metropolitanmicropolitanstatis',
       'countycountyequivalent', 'statename', 'fipscountycode',
       'centraloutlyingcounty'],
      dtype='object')

In [50]:
categories= sorted(df_p['AGE'].unique())

In [51]:
categories

['12-17 years old',
 '18-29 years old',
 '30-39 years old',
 '40-49 years old',
 '50-64 years old',
 '65+ years old']

In [52]:
categories= sorted(df_p['EDUC'].unique())

TypeError: '<' not supported between instances of 'NoneType' and 'str'

In [59]:
df_p['EDUC'].value_counts()

EDUC
Grade 12                              1683059
1-3 years of college                   733248
Grades 9-11                            722005
4 years of college, BA/BS, or more     219813
No schooling                           212137
Name: count, dtype: int64

In [80]:
df_p['EDUC'].unique()

array(['Grade 12', None, 'Grades 9-11',
       '4 years of college, BA/BS, or more', '1-3 years of college',
       'No schooling'], dtype=object)

In [79]:
sorted(['Grade 12', 'Grades 9-11',
       '4 years of college, BA/BS, or more', '1-3 years of college',
       'No schooling'])

['1-3 years of college',
 '4 years of college, BA/BS, or more',
 'Grade 12',
 'Grades 9-11',
 'No schooling']

In [83]:
sorted(df_p['AGE'].unique())

['12-17 years old',
 '18-29 years old',
 '30-39 years old',
 '40-49 years old',
 '50-64 years old',
 '65+ years old']

In [85]:
df_p['ARRESTS'].value_counts()

ARRESTS
None                 3296772
Once                  210213
Two or more times      33505
Name: count, dtype: int64

In [87]:
df_p['DAYWAIT'].unique()

array([None], dtype=object)

In [103]:
 df_p['FREQ_ATND_SELF_HELP'].unique()

array([None, 'No', 'Yes'], dtype=object)

In [101]:
sorted(['25-29 years', '30 years and older', '18-24 years', '12-17 years', '11 years and under'])

['11 years and under',
 '12-17 years',
 '18-24 years',
 '25-29 years',
 '30 years and older']

In [112]:
df.filter(regex='FLG$', axis = 1).sum(axis=1).value_counts()

1    1511012
2    1298826
3     805189
0      23865
Name: count, dtype: int64

In [111]:
df_p['NUM_SUBS'].value_counts()

NUM_SUBS
One sub      1511012
Two sub      1298826
Three sub     805189
Zero sub       23865
Name: count, dtype: int64

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
pd.set_option('display.max_columns', None)

from src.utils import MappingData

path = os.path.join('../data', 'treatments_2017-2020_preprocessed')

df = pd.read_parquet( path + '.parquet')
print(df.shape)

## here we encode data which is ordinal such as AGE, 

categories = ['12-17 years old', '18-29 years old', '30-39 years old', '40-49 years old', '50-64 years old', '65+ years old']
df['AGE'] = pd.Categorical(df['AGE'], categories= categories    , ordered=True)
labels,categories = pd.factorize( df['AGE'], sort = True)
df['AGE'] = labels


categories = ['No schooling', 'Grades 9-11', 'Grade 12', '1-3 years of college', '4 years of college, BA/BS, or more']
df['EDUC'] = pd.Categorical(df['EDUC'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['EDUC'], sort = True)
df['EDUC'] = labels



categories = ['None', 'Once', 'Two or more times']
df['ARRESTS'] = pd.Categorical(df['ARRESTS'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['ARRESTS'], sort = True)
df['ARRESTS'] = labels



categories = ['0-14 days', '15-30 days', '31+ days']
df['DAYWAIT'] = pd.Categorical(df['DAYWAIT'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['DAYWAIT'], sort = True)
df['DAYWAIT'] = labels



categories = ['11 years and under', '12-17 years', '18-24 years', '25-29 years', '30 years and older']
df['FRSTUSE1'] = pd.Categorical(df['FRSTUSE1'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['FRSTUSE1'], sort = True)
df['FRSTUSE1'] = labels



# creating a column for no of substances for each patient
categories = ['Zero sub', 'One sub', 'Two sub', 'Three sub']
df['NUM_SUBS'] = pd.Categorical(df['NUM_SUBS'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['NUM_SUBS'], sort = True)
df['NUM_SUBS'] = labels

(3638892, 83)

In [21]:
columns_of_imp = [
    "AGE",
    "GENDER",
    "RACE",
    "ETHNIC",
    "MARSTAT",
    "EDUC",
    "EMPLOY",
    "PREG",
    "VET",
    "LIVARAG",
    "PRIMINC",
    "ARRESTS",
    "DIVISION",
    "SERVICES",
    "DAYWAIT",
    "PSOURCE",
    "SUB1",
    "FREQ1",
    "FRSTUSE1",
    "PSYPROB",
    "HLTHINS",
    "FREQ_ATND_SELF_HELP",
    "NOPRIOR",
    "NUM_SUBS",
]

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
pd.set_option('display.max_columns', None)

from src.utils import MappingData

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [19]:
path = os.path.join('../data', 'treatments_2017-2020_preprocessed')

df = pd.read_parquet( path + '.parquet')
print(df.shape)

## here we encode data which is ordinal such as AGE, 

categories = ['12-17 years old', '18-29 years old', '30-39 years old', '40-49 years old', '50-64 years old', '65+ years old']
df['AGE'] = pd.Categorical(df['AGE'], categories= categories    , ordered=True)
labels,categories = pd.factorize( df['AGE'], sort = True)
df['AGE'] = labels


categories = ['No schooling', 'Grades 9-11', 'Grade 12', '1-3 years of college', '4 years of college, BA/BS, or more']
df['EDUC'] = pd.Categorical(df['EDUC'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['EDUC'], sort = True)
df['EDUC'] = labels



categories = ['None', 'Once', 'Two or more times']
df['ARRESTS'] = pd.Categorical(df['ARRESTS'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['ARRESTS'], sort = True)
df['ARRESTS'] = labels



categories = ['0-14 days', '15-30 days', '31+ days']
df['DAYWAIT'] = pd.Categorical(df['DAYWAIT'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['DAYWAIT'], sort = True)
df['DAYWAIT'] = labels



categories = ['11 years and under', '12-17 years', '18-24 years', '25-29 years', '30 years and older']
df['FRSTUSE1'] = pd.Categorical(df['FRSTUSE1'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['FRSTUSE1'], sort = True)
df['FRSTUSE1'] = labels



# creating a column for no of substances for each patient
categories = ['Zero sub', 'One sub', 'Two sub', 'Three sub']
df['NUM_SUBS'] = pd.Categorical(df['NUM_SUBS'], categories= categories, ordered=True)
labels,categories = pd.factorize( df['NUM_SUBS'], sort = True)
df['NUM_SUBS'] = labels

(3638892, 83)

In [8]:
path = os.path.join('../data', 'treatments_2017-2020_preprocessed')

df_p = pd.read_parquet( path + '.parquet')

In [22]:
df = df[columns_of_imp]

In [ ]:
{ EDUC  :   -1 
 
 ARRESTS : -1
 
 DAYWAIT : -1
 
 FRSTUSE1 : -1

 
 }

In [34]:
categories = ['12-17 years old', '18-29 years old', '30-39 years old', '40-49 years old', '50-64 years old', '65+ years old']
df['AGE'] = pd.Categorical(df['AGE'], categories= categories    , ordered=True)
labels,categories = pd.factorize( df['AGE'], sort = True)
df['AGE'] = labels

In [23]:
df_missing_perc = pd.DataFrame(df.isnull().sum()/df.shape[0] * 100 ).reset_index()
df_missing_perc.columns = ['Column', '% missing']

In [24]:
df_missing_perc

                 Column  % missing
0                   AGE   0.000000
1                GENDER   0.038693
2                  RACE   1.326805
3                ETHNIC   1.601367
4               MARSTAT  15.207569
5                  EDUC   0.000000
6                EMPLOY   1.554402
7                  PREG  66.711680
8                   VET   5.518878
9               LIVARAG   2.470615
10              PRIMINC  37.659898
11              ARRESTS   0.000000
12             DIVISION   0.000000
13             SERVICES   0.000000
14              DAYWAIT   0.000000
15              PSOURCE   1.588066
16                 SUB1   0.656271
17                FREQ1   6.244483
18             FRSTUSE1   0.000000
19              PSYPROB   9.670801
20              HLTHINS  57.529435
21  FREQ_ATND_SELF_HELP  14.572375
22              NOPRIOR   0.000000
23             NUM_SUBS   0.000000

In [25]:
columns_50perc_missing = list( df_missing_perc[ df_missing_perc['% missing'] > 50.0 ]['Column'].values)

In [26]:
columns_50perc_missing

['PREG', 'HLTHINS']

In [27]:
df = df.drop(columns_50perc_missing, axis=1)

In [28]:
df.isnull().sum()/df.shape[0] * 100

AGE                     0.000000
GENDER                  0.038693
RACE                    1.326805
ETHNIC                  1.601367
MARSTAT                15.207569
EDUC                    0.000000
EMPLOY                  1.554402
VET                     5.518878
LIVARAG                 2.470615
PRIMINC                37.659898
ARRESTS                 0.000000
DIVISION                0.000000
SERVICES                0.000000
DAYWAIT                 0.000000
PSOURCE                 1.588066
SUB1                    0.656271
FREQ1                   6.244483
FRSTUSE1                0.000000
PSYPROB                 9.670801
FREQ_ATND_SELF_HELP    14.572375
NOPRIOR                 0.000000
NUM_SUBS                0.000000
dtype: float64

In [12]:
df['PRIMINC'].value_counts()

PRIMINC
None                              928884
Wages/salary                      631678
Other                             364852
Public assistance                 191092
Retirement/pension, disability    151983
Name: count, dtype: int64

In [29]:
data = df.copy()

In [30]:
# Impute missing data witn mode
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer(missing_values = None, strategy='most_frequent')
data_imputed = pd.DataFrame(my_imputer.fit_transform(data))
data_imputed.columns = data.columns

In [31]:
data_imputed.head()

,AGE,GENDER,RACE,ETHNIC,MARSTAT,EDUC,EMPLOY,VET,LIVARAG,PRIMINC,ARRESTS,DIVISION,SERVICES,DAYWAIT,PSOURCE,SUB1,FREQ1,FRSTUSE1,PSYPROB,FREQ_ATND_SELF_HELP,NOPRIOR,NUM_SUBS
0,2,Female,White,Not Hispanic,Never married,2,Part-time,Not veteran,Independent living,None,0,Pacific,Ambulatory,0,Individual,Opiates or Methadone,Daily use,3,No,No,0,1
1,2,Female,White,Not Hispanic,Never married,2,Not in labor force,Not veteran,Independent living,None,0,Pacific,Ambulatory,0,Other Health Care provider,Heroin,Daily use,4,No,No,1,2
2,1,Female,White,Not Hispanic,Never married,-1,Unemployed,Not veteran,Independent living,Public assistance,0,Pacific,Ambulatory,0,Individual,Heroin,Daily use,2,Yes,No,1,2
3,2,Female,White,Not Hispanic,Never married,2,Not in labor force,Not veteran,Homeless,None,0,Pacific,Ambulatory,0,Individual,Heroin,Daily use,3,No,No,1,2
4,3,Female,Alaska Native,Not Hispanic,Divorced/widowed,2,Not in labor force,Not veteran,Homeless,Other,0,Middle Atlantic,Ambulatory,-1,Other Health Care provider,Heroin,Daily use,4,Yes,No,1,3

In [32]:
data_imputed.isnull().sum()

AGE                    0
GENDER                 0
RACE                   0
ETHNIC                 0
MARSTAT                0
EDUC                   0
EMPLOY                 0
VET                    0
LIVARAG                0
PRIMINC                0
ARRESTS                0
DIVISION               0
SERVICES               0
DAYWAIT                0
PSOURCE                0
SUB1                   0
FREQ1                  0
FRSTUSE1               0
PSYPROB                0
FREQ_ATND_SELF_HELP    0
NOPRIOR                0
NUM_SUBS               0
dtype: int64

In [33]:
data_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3638892 entries, 0 to 3638891
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   AGE                  object
 1   GENDER               object
 2   RACE                 object
 3   ETHNIC               object
 4   MARSTAT              object
 5   EDUC                 object
 6   EMPLOY               object
 7   VET                  object
 8   LIVARAG              object
 9   PRIMINC              object
 10  ARRESTS              object
 11  DIVISION             object
 12  SERVICES             object
 13  DAYWAIT              object
 14  PSOURCE              object
 15  SUB1                 object
 16  FREQ1                object
 17  FRSTUSE1             object
 18  PSYPROB              object
 19  FREQ_ATND_SELF_HELP  object
 20  NOPRIOR              object
 21  NUM_SUBS             object
dtypes: object(22)
memory usage: 610.8+ MB

In [52]:
X = data_imputed.drop("NOPRIOR", axis=1)
y = data_imputed["NOPRIOR"]

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3638892 entries, 0 to 3638891
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   AGE                  object
 1   GENDER               object
 2   RACE                 object
 3   ETHNIC               object
 4   MARSTAT              object
 5   EDUC                 object
 6   EMPLOY               object
 7   VET                  object
 8   LIVARAG              object
 9   PRIMINC              object
 10  ARRESTS              object
 11  DIVISION             object
 12  SERVICES             object
 13  DAYWAIT              object
 14  PSOURCE              object
 15  SUB1                 object
 16  FREQ1                object
 17  FRSTUSE1             object
 18  PSYPROB              object
 19  FREQ_ATND_SELF_HELP  object
 20  NUM_SUBS             object
dtypes: object(21)
memory usage: 583.0+ MB

In [25]:
X["GENDER"] = X["GENDER"].astype("category")
X["RACE"] = X["RACE"].astype("category")
X["ETHNIC"] = X["ETHNIC"].astype("category")
X["MARSTAT"] = X["MARSTAT"].astype("category")
X["EMPLOY"] = X["EMPLOY"].astype("category")
X["VET"] = X["VET"].astype("category")
X["LIVARAG"] = X["LIVARAG"].astype("category")
X["PRIMINC"] = X["PRIMINC"].astype("category")
X["DIVISION"] = X["DIVISION"].astype("category")
X["SERVICES"] = X["SERVICES"].astype("category")
X["PSOURCE"] = X["PSOURCE"].astype("category")
X["SUB1"] = X["SUB1"].astype("category")
X["FREQ1"] = X["FREQ1"].astype("category")
X["PSYPROB"] = X["PSYPROB"].astype("category")

X["FREQ_ATND_SELF_HELP"] = X["FREQ_ATND_SELF_HELP"].astype("category")




X["AGE"] = X["AGE"].astype("category")
X["EDUC"] = X["EDUC"].astype("category")
X["ARRESTS"] = X["ARRESTS"].astype("category")
X["DAYWAIT"] = X["DAYWAIT"].astype("category")
X["FRSTUSE1"] = X["FRSTUSE1"].astype("category")
X["NUM_SUBS"] = X["NUM_SUBS"].astype("category")

In [54]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3638892 entries, 0 to 3638891
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   AGE                  object
 1   GENDER               object
 2   RACE                 object
 3   ETHNIC               object
 4   MARSTAT              object
 5   EDUC                 object
 6   EMPLOY               object
 7   VET                  object
 8   LIVARAG              object
 9   PRIMINC              object
 10  ARRESTS              object
 11  DIVISION             object
 12  SERVICES             object
 13  DAYWAIT              object
 14  PSOURCE              object
 15  SUB1                 object
 16  FREQ1                object
 17  FRSTUSE1             object
 18  PSYPROB              object
 19  FREQ_ATND_SELF_HELP  object
 20  NUM_SUBS             object
dtypes: object(21)
memory usage: 583.0+ MB

In [55]:
X.head()

,AGE,GENDER,RACE,ETHNIC,MARSTAT,EDUC,EMPLOY,VET,LIVARAG,PRIMINC,ARRESTS,DIVISION,SERVICES,DAYWAIT,PSOURCE,SUB1,FREQ1,FRSTUSE1,PSYPROB,FREQ_ATND_SELF_HELP,NUM_SUBS
0,2,Female,White,Not Hispanic,Never married,2,Part-time,Not veteran,Independent living,None,0,Pacific,Ambulatory,0,Individual,Opiates or Methadone,Daily use,3,No,No,1
1,2,Female,White,Not Hispanic,Never married,2,Not in labor force,Not veteran,Independent living,None,0,Pacific,Ambulatory,0,Other Health Care provider,Heroin,Daily use,4,No,No,2
2,1,Female,White,Not Hispanic,Never married,-1,Unemployed,Not veteran,Independent living,Public assistance,0,Pacific,Ambulatory,0,Individual,Heroin,Daily use,2,Yes,No,2
3,2,Female,White,Not Hispanic,Never married,2,Not in labor force,Not veteran,Homeless,None,0,Pacific,Ambulatory,0,Individual,Heroin,Daily use,3,No,No,2
4,3,Female,Alaska Native,Not Hispanic,Divorced/widowed,2,Not in labor force,Not veteran,Homeless,Other,0,Middle Atlantic,Ambulatory,-1,Other Health Care provider,Heroin,Daily use,4,Yes,No,3

In [56]:
columns_one_hot = ['GENDER', 'RACE', 'ETHNIC', 'MARSTAT', 'EMPLOY', 'VET' ,	'LIVARAG',	'PRIMINC',
                   'DIVISION',	'SERVICES' ,  'PSOURCE' , 	'SUB1' , 	'FREQ1', 
                   'PSYPROB' ,	'FREQ_ATND_SELF_HELP']

In [57]:
X = pd.get_dummies(X, columns=columns_one_hot, drop_first=True)

In [58]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3638892 entries, 0 to 3638891
Data columns (total 58 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   AGE                                     object
 1   EDUC                                    object
 2   ARRESTS                                 object
 3   DAYWAIT                                 object
 4   FRSTUSE1                                object
 5   NUM_SUBS                                object
 6   GENDER_Male                             bool
 7   RACE_American Indian                    bool
 8   RACE_Asian                              bool
 9   RACE_Black                              bool
 10  RACE_Hawaii, Pacific Islander           bool
 11  RACE_Other race                         bool
 12  RACE_Two or more races                  bool
 13  RACE_White                              bool
 14  ETHNIC_Not Hispanic                     bool
 15  MARSTAT_Never married                   bool
 16  MARSTAT_Now married                     bool
 17  MARSTAT_Separated                       bool
 18  EMPLOY_Not in labor force               bool
 19  EMPLOY_Part-time                        bool
 20  EMPLOY_Unemployed                       bool
 21  VET_Veteran                             bool
 22  LIVARAG_Homeless                        bool
 23  LIVARAG_Independent living              bool
 24  PRIMINC_Other                           bool
 25  PRIMINC_Public assistance               bool
 26  PRIMINC_Retirement/pension, disability  bool
 27  PRIMINC_Wages/salary                    bool
 28  DIVISION_East South Central             bool
 29  DIVISION_Middle Atlantic                bool
 30  DIVISION_Mountain                       bool
 31  DIVISION_New England                    bool
 32  DIVISION_Pacific                        bool
 33  DIVISION_South Atlantic                 bool
 34  DIVISION_U.S. territories               bool
 35  DIVISION_West North Central             bool
 36  DIVISION_West South Central             bool
 37  SERVICES_Detox                          bool
 38  SERVICES_Rehab/residential              bool
 39  PSOURCE_Community                       bool
 40  PSOURCE_Court                           bool
 41  PSOURCE_Employer                        bool
 42  PSOURCE_Individual                      bool
 43  PSOURCE_Other Health Care provider      bool
 44  PSOURCE_School                          bool
 45  SUB1_Benzodiazepines or Tranquilizers   bool
 46  SUB1_Cocaine/Crack                      bool
 47  SUB1_Heroin                             bool
 48  SUB1_Marijuana/Hashish                  bool
 49  SUB1_Methamphetamine                    bool
 50  SUB1_Opiates or Methadone               bool
 51  SUB1_Other                              bool
 52  SUB1_Other Amphetamines or Stimulants   bool
 53  SUB1_PCP or Other Hallucinogens         bool
 54  FREQ1_No use in the past month          bool
 55  FREQ1_Some use                          bool
 56  PSYPROB_Yes                             bool
 57  FREQ_ATND_SELF_HELP_Yes                 bool
dtypes: bool(52), object(6)
memory usage: 347.0+ MB

In [67]:
X['AGE'] = X['AGE'].astype(int)
X['EDUC'] = X['EDUC'].astype(int)
X['ARRESTS'] = X['ARRESTS'].astype(int)
X['DAYWAIT'] = X['DAYWAIT'].astype(int)
X['FRSTUSE1'] = X['FRSTUSE1'].astype(int)
X['NUM_SUBS'] = X['NUM_SUBS'].astype(int)

In [75]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3638892 entries, 0 to 3638891
Data columns (total 58 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   AGE                                     int64
 1   EDUC                                    int64
 2   ARRESTS                                 int64
 3   DAYWAIT                                 int64
 4   FRSTUSE1                                int64
 5   NUM_SUBS                                int64
 6   GENDER_Male                             bool
 7   RACE_American Indian                    bool
 8   RACE_Asian                              bool
 9   RACE_Black                              bool
 10  RACE_Hawaii, Pacific Islander           bool
 11  RACE_Other race                         bool
 12  RACE_Two or more races                  bool
 13  RACE_White                              bool
 14  ETHNIC_Not Hispanic                     bool
 15  MARSTAT_Never married                   bool
 16  MARSTAT_Now married                     bool
 17  MARSTAT_Separated                       bool
 18  EMPLOY_Not in labor force               bool
 19  EMPLOY_Part-time                        bool
 20  EMPLOY_Unemployed                       bool
 21  VET_Veteran                             bool
 22  LIVARAG_Homeless                        bool
 23  LIVARAG_Independent living              bool
 24  PRIMINC_Other                           bool
 25  PRIMINC_Public assistance               bool
 26  PRIMINC_Retirement/pension, disability  bool
 27  PRIMINC_Wages/salary                    bool
 28  DIVISION_East South Central             bool
 29  DIVISION_Middle Atlantic                bool
 30  DIVISION_Mountain                       bool
 31  DIVISION_New England                    bool
 32  DIVISION_Pacific                        bool
 33  DIVISION_South Atlantic                 bool
 34  DIVISION_U.S. territories               bool
 35  DIVISION_West North Central             bool
 36  DIVISION_West South Central             bool
 37  SERVICES_Detox                          bool
 38  SERVICES_Rehab/residential              bool
 39  PSOURCE_Community                       bool
 40  PSOURCE_Court                           bool
 41  PSOURCE_Employer                        bool
 42  PSOURCE_Individual                      bool
 43  PSOURCE_Other Health Care provider      bool
 44  PSOURCE_School                          bool
 45  SUB1_Benzodiazepines or Tranquilizers   bool
 46  SUB1_Cocaine/Crack                      bool
 47  SUB1_Heroin                             bool
 48  SUB1_Marijuana/Hashish                  bool
 49  SUB1_Methamphetamine                    bool
 50  SUB1_Opiates or Methadone               bool
 51  SUB1_Other                              bool
 52  SUB1_Other Amphetamines or Stimulants   bool
 53  SUB1_PCP or Other Hallucinogens         bool
 54  FREQ1_No use in the past month          bool
 55  FREQ1_Some use                          bool
 56  PSYPROB_Yes                             bool
 57  FREQ_ATND_SELF_HELP_Yes                 bool
dtypes: bool(52), int64(6)
memory usage: 347.0 MB

In [76]:
y = y.astype('int')

In [78]:
from sklearn.model_selection import train_test_split, cross_val_predict

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40)

In [79]:
X_train.shape

(2183335, 58)

In [80]:
from sklearn.ensemble import RandomForestClassifier


rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [81]:
rfc_predict = rfc.predict(X_test)

In [84]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix

In [86]:
rfc_cv_score = cross_val_score(rfc, X, y, cv=10, scoring='roc_auc')

:

:

In [1]:
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n')
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict))
print('\n')
print("=== All AUC Scores ===")
#print(rfc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

=== Confusion Matrix ===

NameError: name 'confusion_matrix' is not defined

In [77]:
import xgboost as xgb

In [72]:
clf = xgb.XGBClassifier()

In [73]:
clf.fit(X, y)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [74]:
clf.score(X,y)

0.7437269366609397

In [ ]:
from sklearn.metrics import accuracy_score